@using EventHandlerRepro.Blazor.Components.Pages
@{
    Layout = null;
}
<script src="_framework/blazor.server.js"></script>

<div id="content">
    <h3>Blazor</h3>
    <div id="blazor">
    </div>
</div>

<script type="text/javascript">
    console.info('debug point');
    window.loadBlazor = async (component, params) => {
        if (window.blazorComponent != null) {
            await window.blazorComponent.dispose();
        }
        window.blazorComponent = await Blazor.rootComponents.add(document.getElementById('blazor'), 'home', {});
    };

</script>