@{
    ViewData["Title"] = "Home Page";
}

<base href="/" />
<script src="_framework/blazor.server.js"></script>

<div id="content">
    <h3>Home</h3>
</div>
<script type="text/javascript">
    document.querySelectorAll('a').forEach(el =>
    {
        el.addEventListener('click', (event) => {
            const linkEl = event.target;
            
            if (linkEl.id !== 'noJquery') {
                event.preventDefault();

                navigate(linkEl);
            }
        });
    });

    async function navigate(linkEl) {
        if (window.blazorComponent) {
            await window.blazorComponent.dispose();
        }
        const contentElement = document.querySelector('#content');
        $('#content').empty().load(linkEl.href);
    }

    async function clickElByHref(link) {
        navigate(document.querySelector(`.nav-item a[href="${link}"]`));
    }
    
    function logMessage() {
        console.log('logging message');
    }
</script>