@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <base href="/"/>
        <script src="_framework/blazor.server.js"></script>
    </head>
    <body>
        <div>
            <a href="/Home/Index">Return to main application</a>
        </div>
        <main>
            <div id="blazor"></div>
        </main>
        
        <script type="text/javascript" src="js/no-jquery.js">
        </script>
    </body>
</html>