@page "/"
@using System.Timers

@inject IJSRuntime JS

@implements IDisposable

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="Navigate">Blazor Navigate to Privacy</button>

@code {

    private System.Timers.Timer _timer;

    protected override Task OnInitializedAsync()
    {
        _timer = new Timer(TimeSpan.FromSeconds(3));

        _timer.Elapsed += async (_, _) =>
        {
            try
            {
                await JS.InvokeVoidAsync("logMessage");
            }
            catch (Exception e)
            {
                // ignored
            }
        };

        _timer.Start();

        return Task.CompletedTask;
    }

    public async Task Navigate()
    {
        await JS.InvokeVoidAsync("clickElByHref", ["/Home/Privacy"]);
    }

    public void Dispose()
    {
        Console.WriteLine("Disposing...");
        _timer.Dispose();
    }

}